In [3]:
import pandas as pd
import numpy as np
import os

img_size = 224
num_classes = 16   # we will select top 16 most fequently occuring breeds to save computatinal time
seed = 1987

data_dir = 'C:/Users/Sakshee/Documents/DATASETS/Dog_breed_identification/train'
test_dir = 'C:/Users/Sakshee/Documents/DATASETS/Dog_breed_identification/test'

labels = pd.read_csv(os.path.join(data_dir,'C:/Users/Sakshee/Documents/DATASETS/Dog_breed_identification/labels.csv'))
submission = pd.read_csv(os.path.join(test_dir,'C:/Users/Sakshee/Documents/DATASETS/Dog_breed_identification/sample_submission.csv'))
#Maps the id in the csv file to its corresponding image id in the data_dir folder for both csvs
labels.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [4]:
submission.head()

,id,affenpinscher,afghan_hound,african_hunting_dog,airedale,american_staffordshire_terrier,appenzeller,australian_terrier,basenji,basset,...,toy_poodle,toy_terrier,vizsla,walker_hound,weimaraner,welsh_springer_spaniel,west_highland_white_terrier,whippet,wire-haired_fox_terrier,yorkshire_terrier
0,000621fb3cbb32d8935728e48679680e,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,...,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333
1,00102ee9d8eb90812350685311fe5890,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,...,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333
2,0012a730dfa437f5f3613fb75efcd4ce,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,...,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333
3,001510bc8570bbeee98c8d80c8a95ec1,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,...,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333
4,001a5f3114548acdefa3d4da05474c2e,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,...,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333,0.008333

HOW ALL THE FUNCTIONS USED WORK

In [4]:
#it groups all the other features of the data frame in accordance with the feature to group by
S_B_L = labels.groupby('breed')
#to show the first members(row of id) of each group of breeds
S_B_L.first()

                                                              id
breed
affenpinscher                   00ca18751837cd6a22813f8e221f7819
afghan_hound                    0379145880ad3978f9b80f0dc2c03fba
african_hunting_dog             00792e341f3c6eb33663e415d0715370
airedale                        0267c5f1acbab52ae4a7927e0398612b
american_staffordshire_terrier  02f3d5fd1eea0a2e6f4742bc54b51ba9
...                                                          ...
welsh_springer_spaniel          01f8540fb1084107a6eb3e528f82c1aa
west_highland_white_terrier     05b5e17b96409ca6db51edaf28bd3bdc
whippet                         05e93a5604440b065143c81be16cd395
wire-haired_fox_terrier         007b5a16db9d9ff9d7ad39982703e429
yorkshire_terrier               07bbf36ce2c7407751219804b3d187ec

[120 rows x 1 columns]

In [5]:
#.count().sort_values() it sorts the breeds with highest number of ids to least(since ascending = False)

selected_breed_dataframe = labels.groupby('breed').count().sort_values(by='id', ascending=False).head(num_classes)
selected_breed_dataframe.head()

                       id
breed
scottish_deerhound    126
maltese_dog           117
afghan_hound          116
entlebucher           115
bernese_mountain_dog  114

In [6]:
#by adding .index... the variable becomes a index object and returns row labels(in this case the breeds) which me then print out as a list

selected_breed_list = list(labels.groupby('breed').count().sort_values(by='id', ascending=False).head(num_classes).index)
selected_breed_list

['scottish_deerhound',
 'maltese_dog',
 'afghan_hound',
 'entlebucher',
 'bernese_mountain_dog',
 'shih-tzu',
 'great_pyrenees',
 'pomeranian',
 'basenji',
 'samoyed',
 'airedale',
 'tibetan_terrier',
 'leonberg',
 'cairn',
 'beagle',
 'japanese_spaniel']

In [7]:
labels = labels[labels['breed'].isin(selected_breed_list)]
labels['target'] = 1                                          #all breeds that are top 16 are targetted as 1
labels.head()

C:\Users\Sakshee\miniconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                  id               breed  target
8   003df8b8a8b05244b1d920bb6cf451f9             basenji       1
9   0042188c895a2f14ef64a918ed9c7b64  scottish_deerhound       1
12  00693b8bc2470375cc744a6391d397ec         maltese_dog       1
29  00bee065dcec471f26394855c5c2f3de               cairn       1
48  013f8fdf6d638c7bb042f5f17e8a9fdc     tibetan_terrier       1

In [8]:
group = labels.groupby(by='breed', as_index=False).agg({'id': pd.Series.nunique})
group

#nunique returns the number of unique elements in the object eg {1,2,3,7,7} then unique elements is 4
#so in this example we are basically counting how many unique ids are present for a certain breed

                   breed   id
0           afghan_hound  116
1               airedale  107
2                basenji  110
3                 beagle  105
4   bernese_mountain_dog  114
5                  cairn  106
6            entlebucher  115
7         great_pyrenees  111
8       japanese_spaniel  105
9               leonberg  106
10           maltese_dog  117
11            pomeranian  111
12               samoyed  109
13    scottish_deerhound  126
14              shih-tzu  112
15       tibetan_terrier  107

In [9]:
#.pivot() reshapes the dataframe.
# the first parameter=index: sets the row labels (ie id)
# the second parameter=columns: are the column labels (ie breed)
#the third parameter=values: are used to populate the new dataframe (ie target)
labels_pivot = labels.pivot('id', 'breed', 'target').reset_index().fillna(0)
labels_pivot.head()

breed,id,afghan_hound,airedale,basenji,beagle,bernese_mountain_dog,cairn,entlebucher,great_pyrenees,japanese_spaniel,leonberg,maltese_dog,pomeranian,samoyed,scottish_deerhound,shih-tzu,tibetan_terrier
0,003df8b8a8b05244b1d920bb6cf451f9,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0042188c895a2f14ef64a918ed9c7b64,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,00693b8bc2470375cc744a6391d397ec,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,00bee065dcec471f26394855c5c2f3de,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,013f8fdf6d638c7bb042f5f17e8a9fdc,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [10]:
np.random.seed(seed=seed)                           #same random numbers will generate each time
rnd = np.random.random(len(labels))
rnd

array([0.22919595, 0.06914661, 0.70927714, ..., 0.34749983, 0.17683635,
       0.46797313])

In [11]:
train_idx = rnd < 0.8         #returns an array of True values when condition is satisfied and false when the condition is not
valid_idx = rnd >= 0.8        #vice-versa
print(train_idx)
print(train_idx.shape)

[ True  True  True ...  True  True  True]
(1777,)

In [12]:
#selected_breed_list = 'breed1', 'breed2'......'breed16'
y_train = labels_pivot[selected_breed_list].values
print(y_train)
print(y_train.shape)

[[0. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
(1777, 16)

In [13]:
ytr = y_train[train_idx]
yv = y_train[valid_idx]
print(ytr)
print(ytr.shape)
print(yv.shape)
#we seperated the training data into two arrays correspoding to their train_idx being true or false
#1409 training samples
#368 validation samples.....total 1777 samples

#ytr and yv are the output labels. For eg. In cats vs dogs classification (20000,1) was ytr and (5000,1) was yv

[[0. 0. 0. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]
 [0. 1. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
(1409, 16)
(368, 16)

In [14]:
#now to load the desired images of the selected 16 breeds as a 4-D day array for input
#xtr = (1409,224,224,1)
#xv = (368,224,224,1)
from keras.preprocessing.image import img_to_array, load_img
import cv2

img_id = labels_pivot['id'].values

X = []
for ID in img_id:
    img = load_img(os.path.join(data_dir,'%s.jpg' %ID), grayscale = True, target_size=(img_size,img_size))
    image = (img_to_array(img))
    X.append(image)
    
X = np.array(X)
X.shape

Using TensorFlow backend.
C:\Users\Sakshee\miniconda3\envs\tensorflow\lib\site-packages\keras_preprocessing\image\utils.py:104: UserWarning: grayscale is deprecated. Please use color_mode = "grayscale"
  warnings.warn('grayscale is deprecated. Please use '

(1777, 224, 224, 1)

In [15]:
xtr = X[train_idx]
xv = X[valid_idx]
print(xtr.shape)
print(xv.shape)

(1409, 224, 224, 1)
(368, 224, 224, 1)

In [17]:
xtr = xtr.astype('float32')
xv = xv.astype('float32')

xtr /=255
xv /=255

In [22]:
import keras
from keras import layers
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Dropout, Flatten, Dense

def baseline_model():
    model = Sequential()
    
    model.add(Conv2D(32, (3, 3), input_shape=(224, 224, 1), activation='relu'))
    model.add(MaxPooling2D((2, 2)))
    
    model.add(Conv2D(64, (3, 3), activation='relu'))
    model.add(MaxPooling2D((2, 2)))
    
    model.add(Conv2D(128, (3, 3), activation='relu'))
    model.add(MaxPooling2D((2, 2)))
    
    model.add(Dropout(0.2))
    model.add(Flatten())
    model.add(Dense(128, activation='relu'))
    
    model.add(Dropout(0.2))
    
    model.add(Dense(num_classes, activation='softmax'))
    
    return model

model = baseline_model()
model.compile(optimizer='RMSprop', loss='binary_crossentropy', metrics=['accuracy'])

In [23]:
history = model.fit(xtr, ytr, validation_data=(xv,yv), epochs=5, verbose=1)

Train on 1409 samples, validate on 368 samples
Epoch 1/5
1409/1409 [==============================] - 117s 83ms/step - loss: 0.2485 - accuracy: 0.9358 - val_loss: 0.2331 - val_accuracy: 0.9375
Epoch 2/5
1409/1409 [==============================] - 123s 87ms/step - loss: 0.2290 - accuracy: 0.9375 - val_loss: 0.2272 - val_accuracy: 0.9375
Epoch 3/5
1409/1409 [==============================] - 115s 82ms/step - loss: 0.2165 - accuracy: 0.9375 - val_loss: 0.2980 - val_accuracy: 0.9081
Epoch 4/5
1409/1409 [==============================] - 106s 75ms/step - loss: 0.1981 - accuracy: 0.9384 - val_loss: 0.2845 - val_accuracy: 0.9180
Epoch 5/5
1409/1409 [==============================] - 107s 76ms/step - loss: 0.1556 - accuracy: 0.9461 - val_loss: 0.2653 - val_accuracy: 0.9237

In [24]:
test_dir = 'C:/Users/Sakshee/Documents/DATASETS/Dog_breed_identification/test'

test = []
for img_id in os.listdir(test_dir):
    img = load_img(os.path.join(test_dir, img_id), grayscale = True, target_size=(img_size,img_size))
    image = (img_to_array(img))
    test.append(image)
    
test = np.array(test)
test.shape

C:\Users\Sakshee\miniconda3\envs\tensorflow\lib\site-packages\keras_preprocessing\image\utils.py:104: UserWarning: grayscale is deprecated. Please use color_mode = "grayscale"
  warnings.warn('grayscale is deprecated. Please use '

(10357, 224, 224, 1)

In [25]:
predictions = model.predict(test)

predictions.shape

(10357, 16)

In [26]:
pd.DataFrame(predictions).to_csv("results.csv")